<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label>Email</label>
    <input type="email" name="username" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <button type="submit">Login</button>
</form>
</body>
</html>
